h1,
h2 {
    color: #49075E;
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
    margin: 1rem 0;
}

h2 {
    font-size: 1.9em;
    margin: 0.5rem 0;
}

.form-block {
    margin: 1em 0;
}

.click-input-field-block {
    display: flex;
    flex-direction: row;

    background: #fff;
    color: inherit;
    border: 1px solid;
}

.click-input-field-block>button {
    flex-grow: 0;
    flex-shrink: 0;

    font: inherit;
    color: inherit;
    background: none;
    text-align: inherit;
    text-decoration: none;

    border: 0;
    margin: 0;
    padding: 0.3em;
}

.click-input-field-block>button.input-field {
    flex-grow: 1;
}

.click-input-field-block>button.input-field:empty {
    font-style: italic;
    color: #888;
}

.click-input-field-block>button.input-field:empty::before {
    content: attr(data-placeholder-text);
}
